<h2>Create Course</h2>
<form method="POST" action="/admin/course">
    <input name="title" placeholder="Course Title" required />
    <input name="price" placeholder="Price" required />
    <input name="InstructorId" placeholder="Instructor ID" required />
    <button>Create Course</button>
</form>
