<h2>Create Instructor</h2>
<form method="post" action="/admin/instructor">
    <input name="name" placeholder="Instructor Name" />
    <input name="email" placeholder="Email"/>
    <button>Create Instructor</button>
</form>