<form method="POST" action="/student/create">
  <input name="name" placeholder="Name">
  <input name="username" placeholder="Username">
  <input name="password" placeholder="Password">
  <input name="email" placeholder="Email" required>
  <button type="submit">Create Student</button>
</form>
